@model RentCar.Models.Rent

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<ul>
    <li>ID: @Model.Id.ToString()</li>
    <li>Client: @Model.Client.Name</li>
    <li>Employee: @Model.Employee.Name</li>
    <li>Vehicle: @Model.Vehicle.Description</li>
    <li>Status: @Model.Status.Name</li>
    <li>Price per day: @Model.PricePerDay</li>
    <li>Number of days: @Model.NumberOfDays</li>
    <li>Comment: @Model.Comment</li>
</ul>