@model List<RentCar.Models.Rent>

@{
    ViewBag.Title = "Rents";
    Layout = "_Layout";
}

<h2>Rents</h2>

<a asp-controller="Rent" asp-action="New">
    <button class="btn btn-primary">New</button>
</a>

@if (@Model.Count == 0)
{
    <p>There are no brands to show. Please add a new one.</p>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Client</th>
            <th>Vehicle</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rent in @Model)
        {
            <tr>
                <td>@Html.ActionLink(rent.Id.ToString(), "Details", "Rent", new {id = rent.Id})</td>
                <td>@rent.Status.Name</td>
                <td>@rent.Client.Name</td>
                <td>@rent.Vehicle.Description</td>
                <td>@Html.ActionLink("Edit", "Edit", "Rent", new {id = rent.Id}) | @Html.ActionLink("Delete", "Delete", "Rent", new {id = rent.Id})</td>
            </tr>
        }
        </tbody>
    </table>
}