@model List<RentCar.Models.Inspection>

@{
    ViewBag.Title = "Inspections";
    Layout = "_Layout";
}

<h2>Inspections</h2>

<a asp-controller="Inspection" asp-action="New">
    <button class="btn btn-primary">New</button>
</a>

@if (@Model.Count == 0)
{
    <p>There are no fuel types to show. Please add a new one.</p>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Vehicle</th>
            <th>Is Rented</th>
            <th>Client ID</th>
            <th>Employee Assigned</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var inspection in @Model)
        {
            <tr>
                <td>@Html.ActionLink(inspection.Id.ToString(), "Details", "Inspection", new {id = inspection.Id})</td>
                <td>@inspection.Status.Name</td>
                <td>@inspection.Vehicle.Description</td>
                <td>@inspection.Vehicle.IsRented</td>
                <td>@inspection.Client.IdentificationCard</td>
                <td>@inspection.Employee.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Inspection", new {id = inspection.Id}) | @Html.ActionLink("Delete", "Delete", "Inspection", new {id = inspection.Id})</td>
            </tr>
        }
        </tbody>
    </table>
}