@model List<Model>

@{
    ViewBag.Title = "Models";
    Layout = "_Layout";
}

<h2>Models</h2>

<a asp-controller="Model" asp-action="New">
    <button class="btn btn-primary">New</button>
</a>

@if (@Model.Count == 0)
{
    <p>There are no models to show. Please add a new one.</p>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in @Model)
        {
            <tr>
                <td>@Html.ActionLink(m.Description, "Details", "Model", new {id = m.Id})</td>
                <td>@m.Status.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Model", new {id = m.Id}) | @Html.ActionLink("Delete", "Delete", "Model", new {id = m.Id})</td>
            </tr>
        }
        </tbody>
    </table>
}